/* DEBUG & DEVELOP */
/*
div, section, article, nav, p, header, footer, form, table, ul, li {
    outline: 1px dashed red;
}
*/
html, body, div, section, article, aside, nav, header, footer {
    margin: 0;
    padding: 0;
}

/* ** TYPOGRAPHICS ** */

/* ** COLOURS ** */

/* ** IMAGES ** */

/* ** STRUCTURE ** */
.middle {
    display: flex;
    flex: 2;
    justify-content: center;
    justify-items: center;
}
.wrapper {
    width: 80%;
}
.text-span {
    min-width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title-btn {
    padding-left: 20px;
}
span {
    margin: auto;
}
span h3, h5 {
    text-align: center;
}
.column {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
}
.grid-container {
    margin: 5% auto 5% auto;
    /* display: grid; */
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20%;
    justify-items: left;
}
.grid-item {
    width: 33%;
    text-align: center;
}
.grid-item a h6 {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}