{% extends 'default.html' %}

{% block content %}
<div id="asideLeft" class="column">

</div>
<div id="center" class="middle">
    <span>
        <h3>About</h3>
        <h5>
            This page came about because of my love of living things. Plants, animals, insects, ..
            I'm interested in everything living.
        </h5>
        <p>
           I based this web app on the eBird API. This is a free api serviced by the Cornell University.
            This is their own mission declaration as provided on their website.
        </p>
        <p>
            eBird began with a simple idea—that every birdwatcher has unique knowledge and experience.
            Our goal is to gather this information in the form of checklists of birds, archive it,
            and freely share it to power new data-driven approaches to science, conservation and education.
            At the same time, we develop tools that make birding more rewarding.
            From being able to manage lists, photos and audio recordings, to seeing real-time
            maps of species distribution, to alerts that let you know when species have been seen,
            we strive to provide the most current and useful information to the birding community.
        </p>
        <p>
            eBird is among the world’s largest biodiversity-related science projects,
            with more than 100 million bird sightings contributed annually by eBirders around the world
            and an average participation growth rate of approximately 20% year over year.
            A collaborative enterprise with hundreds of partner organizations, thousands of regional experts,
            and hundreds of thousands of users, eBird is managed by the Cornell Lab of Ornithology.
        </p>
        <p>
            <a href="https://ebird.org/home">Ebird.org/home</a>
            <a href="https://ebird.org/about">Ebird.org/about</a>
            <a href="https://www.youtube.com/watch?time_continue=3&v=-t-0xAjxakw&embeds_referring_euri=https%3A%2F%2Febird.org%2F&source_ve_path=MjM4NTE&feature=emb_title">eBird youtube intro</a>
        </p>
        <p>
            I have made this web app using the python Flask and bootstrap css framework.
            I have also made a connection to a sqlite database for some data storage.
        </p>
    </span>
</div>
<div id="asideRight" class="column">

</div>
{% endblock %}