{% extends 'default.html' %}

{% block content %}
<div id="mainContainer">
    <div id="asideLeft" class="column">

    </div>
    <div id="center" class="middle">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Species code</th>
                </tr>
            </thead>
            <tbody>
                {% for species in species_list %}
                <tr>
                    <td> {{ species }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="speciesInfo" class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Code</th>
            <th>Common name</th>
            <th>Scientific name</th>
            <th>Order</th>
            <th>Extinct</th>
        </tr>
        </thead>
        <tbody>
        {% for species in species_db_list %}
        <tr>
            <td>{{ species['species_code'] }}</td>
            <td>{{ species['common_name'] }}</td>
            <td>{{ species['scientific_name'] }}</td>
            <td>{{ species['scientific_order'] }}</td>
            <td>{{ species['extinct'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{url_for('species')}}">Return to species</a>
    </div>
    <div id="asideRight" class="column">

    </div>
</div>
{% endblock %}